<div style="display: flex; justify-content: space-evenly">
  <div style="height: 48vh; width: 33%; background-color: rgb(73, 73, 73)">
    <ngx-tree-flow
      maxWidth="300px"
      minWidth="300px"
      [data]="data"
      [levelSpacing]="80"
      [useEndingJoinNode]="false"
    ></ngx-tree-flow>
  </div>
  <div style="height: auto; width: 50%; background-color: rgb(60, 60, 120)">
    <ngx-tree-flow
      maxWidth="300px"
      minWidth="300px"
      [rotation]="0"
      [data]="linearData"
      [levelSpacing]="60"
      [useEndingJoinNode]="false"
    ></ngx-tree-flow>
  </div>
  <div style="height: 48vh; width: auto; background-color: rgb(73, 73, 73)">
    <ngx-tree-flow
      maxWidth="300px"
      minWidth="300px"
      [rotation]="0"
      [data]="singleData"
      [levelSpacing]="60"
      [useEndingJoinNode]="false"
    ></ngx-tree-flow>
  </div>
</div>
<div style="display: flex; justify-content: space-evenly">
  <div style="height: 48vh; width: 48vw; background-color: rgb(15, 15, 15)">
    <ngx-tree-flow
      [rotation]="0"
      maxWidth="300px"
      minWidth="600px"
      [viewboxWidth]="350"
      [viewboxHeight]="500"
      [data]="data"
      [rotation]="90"
      [levelSpacing]="66"
      [useEndingJoinNode]="true"
      [disableAutoLineColor]="true"
    ></ngx-tree-flow>
  </div>
  <div style="height: 48vh; width: 48vw; background-color: rgb(60, 60, 120); max-width: 300px">
    <ngx-tree-flow
      [rotation]="0"
      maxWidth="300px"
      minWidth="300px"
      [viewboxWidth]="350"
      [viewboxHeight]="500"
      [data]="linearData"
      [levelSpacing]="66"
      [useEndingJoinNode]="false"
      [hideLinearModelLabel]="true"
      [disableAutoLineColor]="true"
    ></ngx-tree-flow>
  </div>
  <!-- this one has not dimension fixed and will be adapted to parent dimension -->
  <div style="height: 48vh; width: auto; background-color: rgb(73, 73, 73)">
    <ngx-tree-flow [rotation]="0" [data]="singleData" [levelSpacing]="60" [useEndingJoinNode]="false"></ngx-tree-flow>
  </div>
</div>
