<div style="display: flex; justify-content: space-evenly">
  <div style="height: 48vh; width: 48vw; background-color: rgb(73, 73, 73)">
    <ngx-tree-flow
      [rotation]="0"
      [viewboxWidth]="350"
      [viewboxHeight]="420"
      [data]="data"
      [levelSpacing]="60"
      [useLabels]="true"
      [useEndingJoinNode]="false"
    ></ngx-tree-flow>
  </div>
  <div style="height: 48vh; width: 48vw; background-color: rgb(73, 73, 73); max-width: 300px">
    <ngx-tree-flow
      [rotation]="0"
      [viewboxWidth]="400"
      [data]="linearData"
      [levelSpacing]="66"
      [useEndingJoinNode]="false"
    ></ngx-tree-flow>
  </div>
</div>
<div style="display: flex; justify-content: space-evenly">
  <div style="height: 48vh; width: 48vw; background-color: rgb(15, 15, 15)">
    <ngx-tree-flow
      [rotation]="0"
      [viewboxWidth]="350"
      [viewboxHeight]="500"
      [data]="data"
      [rotation]="90"
      [levelSpacing]="66"
      [useEndingJoinNode]="true"
      [disableAutoLineColor]="true"
    ></ngx-tree-flow>
  </div>
  <div style="height: 48vh; width: 48vw; background-color: rgb(15, 15, 15); max-width: 300px">
    <ngx-tree-flow
      [rotation]="0"
      [viewboxWidth]="400"
      [data]="linearData"
      [levelSpacing]="66"
      [useEndingJoinNode]="false"
      [hideLinearModelLabel]="true"
      [disableAutoLineColor]="true"
    ></ngx-tree-flow>
  </div>
</div>
